<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            R/RStudio
        </div>
        <div class="progress">
            <span class="pink" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PHOTOGRAPH
        </div>
        <div class="progress">
            <span class="blue" style="width: 56%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Git/Github
        </div>
        <div class="progress">
            <span class = "yellow" style="width: 30%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="green" style="width: 42%;"></span>
        </div>
    </div>
</section>
