<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            R/RStudio
        </div>
        <div class="progress">
            <span class="grey" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PHOTOGRAPHY
        </div>
        <div class="progress">
            <span class="blue" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Git/Github
        </div>
        <div class="progress">
            <span class = "yellow" style="width: 50%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="green" style="width: 30%;"></span>
        </div>
    </div>
</section>
